.footer_home{
    display: flex;
    margin-left: 50px;
}
.footer_img_home{
    margin-top: 190px;
    margin-left: 190px;
    max-width:100%;
    height: 200px;
}
.footer_title_home{
    color: #1A6692;
    font-size: 1.3rem;
    margin-left: 40px;
    margin-top: 190px;
}
.footer_text_home{
    color: #626364;;
    font-size: 17px;
    margin-left: 40px;
    margin-top: 20px;
    width: 530px;
    height: 124px;
}
.footer_btn_home{
    margin-left: 420px;
    background-color: white;
    border: 1px solid #ccc;
    color: #626364;   
     display: inline-block;
    font-size: 1rem;
    width: auto;
    padding: 10px 30px;
    text-decoration: none;
}
.footer_btn_home:hover{
    color: white;
    background-color: #626364;
}
.footer_p_home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px ;
    color: #626364;
    margin-top: 20px;
    margin-bottom: 20px;
}
