
.footer_contact_tittle{
    text-align: center;
    font-size: 30px;
}
.footer_contact_text{
    font-size: 17px;
    color: #626364;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}
.footer_btn_1{
    font-size: 20px;
    text-align: left;
    background-color: white;
    color: #bbbbbb;
    border-color: rgb(204, 204, 204);
    width: 550px;
    height: 50px;
    margin-top: 40px;
    margin-left: 500px;
   
}
.footer_btn_1:hover {
  color: rgb(40, 79, 157);
   
}

.footer_title{
    color: rgb(110, 110, 110);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.3rem;
}
.maps{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 90px;
    margin-bottom: 90px;
}
.input_text{
    text-align: left;
    margin-left: 520px;
    width: 550px;
    margin-top: 20px;
    font-size: 18px;
    color: rgb(110, 110, 110);

    
}
